<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    {% for category, message in get_flashed_messages(True) %}
    <div class="alert alert-{{ category }}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    <div class="me">
        <img src="{{ url_for('static', filename='images/1.jpg') }}" alt="Моя фотографія">
        <h4>Eduard Partyka</h4>
    </div>
    {% if current_user.is_authenticated %}
        {% set navigation = {'portfolio.home': 'Main', 'portfolio.page1': 'About Me', 'portfolio.skills': 'Skills', 'todo.todo': 'ToDo', 'account.account': 'Account'} %}
    {% else %}
        {% set navigation = {'portfolio.home': 'Main', 'portfolio.page1': 'About Me', 'portfolio.skills': 'Skills', 'todo.todo': 'ToDo'} %}
    {% endif %}
    
    {% include 'nav.html' %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>

</html>