{% from "macros.html" import render_field %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <h1>Todo List</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-{{ messages[0] }}"></div>
            {% endif %}
        {% endwith %}


        <form method="post" action="{{ url_for('todo.add') }}" novalidate>
          {{ form.csrf_token }}
          <div class="form-group">
              {{ render_field(form.title) }}
              {{ render_field(form.description) }}
          </div>
          {{ form.submit(class="btn btn-primary btn-lg") }}
      </form><br>
      

        <ul class="list-group">
            {% for todo in todo_list %}
                <li class="list-group-item {% if todo.complete %} list-group-item-success {% endif %}">
                    <strong>{{ todo.title }}</strong>
                    <p><strong>Description:</strong> {{ todo.description }}</p>
                    <span class="float-right">
                        <a href="{{ url_for('todo.update', todo_id=todo.id) }}" class="btn btn-sm btn-success">
                            {% if todo.complete %} Mark Incomplete {% else %} Mark Complete {% endif %}
                        </a>
                        <a href="{{ url_for('todo.delete', todo_id=todo.id) }}" class="btn btn-sm btn-danger">Delete</a>
                    </span>
                </li>
            {% endfor %}
        </ul>
      
    </div>
</body>

</html>