body{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
    /* align-items: center; */
}
.container{
    text-align: center;
}
img {
    width: 100px;
}
.me{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    font-size: 25px;
}
.footer{
    display: flex;
    justify-content: end;
    flex-direction: column;
    margin-left: 20px;
}